
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1">
      <h1 class="text-center"> All products </h1>
      <% @plans.each do |plan| %>
      <div class="product">
 <%= link_to plan_path(plan) do %>
        
          <%= cl_image_tag plan.img.path, class:"card-img-top card-index", alt:"Card image cap" %>
          
         <div class='product-body'>
            <h3 class="ttext"><%= plan.name %></h3>
            <p class="ttext"><%= plan.author %></p>
           <% end %>
          </div>
          <ul class="list-inline product-controls">
            <li>
              <%= link_to plan_path(plan) do %>
                <i class="fa fa-eye"></i>
              <% end %>
            </li>

          </ul>
        </div>
      <% end %>
    </div>
  </div>
</div>